.group-address {
  padding-left: 0px;
}

.group-address__map {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 9px;

  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.group-address__map:hover,
.group-address__map:focus {
  color: var(--hover-focus-color);
}

.group-address__map:active {
  color: red;
}

.group-address__link {
  display: inline-block;
  margin-bottom: 9px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.group-address__link:hover,
.group-address__link:focus {
  color: var(--hover-focus-color);
}

.group-address__link:active {
  color: red;
}
